.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  display: flex;
  position: initial;
  height: 4rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: bisque;
  padding-right: 0.5rem;
}

.customContainer{
  margin-top: 4rem !important;
}

.customLink{
  background-color: black;
  color: aliceblue;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: solid;
  box-shadow: coral;
  border-color: transparent;
  line-height: 1rem;
  font-weight: bolder;
  height: fit-content;
  width: 6rem;
  margin-top: 0.4rem;

}